In [2]:
import numpy as np

In [5]:
pokemons={'pokemon_height':np.random.randint(1,100,5),
         'pokemon_weight':np.random.randint(50,150,5),
         'pokemon_power':np.random.randint(150,250,5)}
pokemons

{'pokemon_height': array([18, 16, 52, 91, 85]),
 'pokemon_weight': array([ 57,  69,  61, 120, 133]),
 'pokemon_power': array([191, 233, 150, 155, 160])}

In [6]:
!pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/6b/88/672fcbab1fda7c3a2af192daf32885e065ff4046649247cebdc5cf7383a4/pandas-0.25.2-cp37-cp37m-win_amd64.whl (9.2MB)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\blaze\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2.8.0)
Collecting pytz>=2017.2
  Downloading https://files.pythonhosted.org/packages/e7/f9/f0b53f88060247251bf481fa6ea62cd0d25bf1b11a87888e53ce5b7c8ad2/pytz-2019.3-py2.py3-none-any.whl (509kB)
Requirement already satisfied: numpy>=1.13.3 in c:\users\blaze\appdata\local\programs\python\python37\lib\site-packages (from pandas) (1.17.2)
Requirement already satisfied: six>=1.5 in c:\users\blaze\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-0.25.2 pytz-2019.3

In [7]:
import pandas as pd

In [14]:
#to print data in tabular form
a=pd.DataFrame(pokemons)
print(a)

   pokemon_height  pokemon_weight  pokemon_power
0              18              57            191
1              16              69            233
2              52              61            150
3              91             120            155
4              85             133            160

In [15]:
#to print in better from
df.head()

   pokemon_height  pokemon_weight  pokemon_power
0              18              57            191
1              16              69            233
2              52              61            150
3              91             120            155
4              85             133            160

In [16]:
#to print specified no.of rows
df.head(n=3)

   pokemon_height  pokemon_weight  pokemon_power
0              18              57            191
1              16              69            233
2              52              61            150

In [17]:
#to print column names
print(df.columns)

Index(['pokemon_height', 'pokemon_weight', 'pokemon_power'], dtype='object')

In [13]:
#creating CSV(comma separate)file
df.to_csv('pokemon_data.csv') #if the syntax is:
                              #df.to_csv('pokemon_data.csv',index=False)
                              #then un-named index column will not be created
                              #hence use of drop function can be avoided by this.

In [20]:
#READ A DATA FRAME/CSV FILE
df=pd.read_csv('pokemon_data.csv')
df.head()

   Unnamed: 0  pokemon_height  pokemon_weight  pokemon_power
0           0              18              57            191
1           1              16              69            233
2           2              52              61            150
3           3              91             120            155
4           4              85             133            160

In [23]:
#removing un-named column
df.drop(columns=['Unnamed: 0'])

   pokemon_height  pokemon_weight  pokemon_power
0              18              57            191
1              16              69            233
2              52              61            150
3              91             120            155
4              85             133            160

In [24]:
df.shape  #tells no.of rows and columns

(5, 4)